[kit_base_editor]
application_name = "$APPLICATION_NAME"
version = "$VERSION"
add_layers = "Yes"
selected_layers = [ "[omni_default_streaming]: Omniverse Kit App Streaming (Default)",]

[kit_base_editor.applications.omni_default_streaming]
