[omni_usd_viewer]
application_name = "$APPLICATION_NAME"
version = "$VERSION"
add_layers = "Yes"
selected_layers = [ "[omni_default_streaming]: Omniverse Kit App Streaming (Default)",]

[omni_usd_viewer.extensions.omni_usd_viewer_messaging]
version = "$VERSION"

[omni_usd_viewer.extensions.omni_usd_viewer_setup]
version = "$VERSION"

[omni_usd_viewer.applications.omni_default_streaming]
