[omni_usd_explorer]
application_name = "$APPLICATION_NAME"
version = "$VERSION"
add_layers = "Yes"
selected_layers = [ "[omni_default_streaming]: Omniverse Kit App Streaming (Default)", "[nvcf_streaming]: NVCF Streaming",]

[omni_usd_explorer.extensions.omni_usd_explorer_setup]
version = "$VERSION"

[omni_usd_explorer.applications.omni_default_streaming]

[omni_usd_explorer.applications.nvcf_streaming]
